body {
    width: 80%;
    margin: 0 auto;
}

.card {
    box-shadow: 3px 3px 10px gray;
    border: thin solid black;
    border-radius: 10%;
    display: inline-block;
    margin: 0.5em;
    position: relative;
    left: -2.5em;
    background-color: white;
    z-index: 2;
    transform: rotate(6deg);
}

.card:first-child {
    position: static;
    z-index: 1;
    transform: none;
}

.card:nth-child(3) {
    left: -3.5em;
    transform: rotate(3deg);
}

.card:nth-child(4) {
    left: -4.5em;
    transform: rotate(8deg);
}

.card:nth-child(5) {
    left: -5.5em;
    transform: rotate(2deg);
}

.card:nth-child(6) {
    left: -6.5em;
    transform: rotate(-2deg);
}

section {
    margin: 10px;
    padding: 1em;
    border-radius: 10%;
    border: thin solid black;
    height: 80px;
    width: 50px;
    background-color: white;
}

.card span {
    font-size: 1.6em;
}

.black {
    color: black;
}

.red {
    color: red;
}

button {
    background-color: green;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    padding: 0.5em;
    margin-top: 1em;
}

#stop {
    background-color: brown;
}

button:hover {
    background-color: chartreuse;
}

#dealerArea {
    background-color: wheat;
    border: thin solid red;
    border-radius: 3%;
    padding: 2em;
    margin: 1em;
    min-height: 25vh;
}